matplotlib==3.0.3
numpy==1.19.0
pandas==1.0.5
datetime
scikit-learn==0.23.1
scipy==1.7.0
streamlit==0.62.1
yfinance==0.1.54
plotly==3.10.0
fbprophet==0.5
Prophet
date
plot_plotly
fbprophet.plot
graph_objs